header {
  background-color: #803E38;
  display: flex;
}
header .main_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  /* margin: 0 auto; */
  justify-content: space-evenly;
  padding: 0.5rem;
}
header .main_header ul {
  padding: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  font-size: 1rem;
}
header .main_header ul li a {
  color: #D1C1A5;
  cursor: pointer;
  padding: 0.5rem;
  font-family: "Barlow";
}
header .main_header ul li a:hover {
  color: #FFFFFF;
}
header .dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .arrow {
  border: solid #D1C1A5;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}
header .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.hero_img {
  position: relative;
  width: 100%;
  height: 85vh;
  background-image: url("../assets/920.png");
  object-fit: cover;
  background-position: center;
  margin: 0;
  color: #FFFFFF;
}
.hero_img h2 {
  margin: 0;
  font-family: "Cookie";
  font-size: 3rem;
  font-weight: 100;
}
.hero_img h1 {
  font-family: "Prata";
  font-weight: 100;
  font-size: 3.5rem;
  margin-top: 0;
}
.hero_img .hero_txt {
  padding: 12rem;
  width: 39rem;
  z-index: 2;
  position: absolute;
}
.hero_img .flower {
  position: absolute;
  padding-left: 12rem;
}
.hero_img .flower1 {
  position: absolute;
  padding-left: 55rem;
  padding-top: 2rem;
  width: 6rem;
}
.hero_img .flower2 {
  position: absolute;
  padding-left: 29rem;
  padding-top: 30rem;
  width: 6rem;
}
.hero_img .leaf {
  position: absolute;
  padding-left: 29rem;
  padding-top: 5rem;
}
.hero_img .leaf1 {
  position: absolute;
  position: absolute;
  padding-left: 16rem;
  padding-top: 35rem;
}
.hero_img .leaf2 {
  position: absolute;
  padding-left: 88vw;
  padding-top: 24rem;
}

.btn_brown {
  color: #FFFFFF;
  background-color: #483224;
  border-radius: 10rem 0;
  border: none;
  font-size: 0.9rem;
  padding: 0.8rem 2.77rem;
}

.btn_brown:hover {
  border-radius: 0;
}

.heroex {
  background-color: #D1C1A5;
  position: relative;
}
.heroex .heroex_inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  z-index: 2;
  position: relative;
}
.heroex h2 {
  color: #FFFFFF;
  margin: 0;
  font-family: "Prata";
  font-weight: 100;
}
.heroex p {
  color: #803E38;
  font-family: "Prata";
  font-weight: 100;
}

.leaf3 {
  position: absolute;
  padding-left: 63vw;
}

.leaf4 {
  position: absolute;
  padding-left: 28vw;
  padding-top: 1rem;
}

.flower3 {
  position: absolute;
  padding-left: 56vw;
  padding-top: 7rem;
}

.services_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services_text h2 {
  color: #803E38;
  font-weight: 100;
  font-family: "Prata";
  width: 52vw;
  text-align: center;
  margin-bottom: 0;
}
.services_text p {
  color: #483224;
  font-family: "Barlow";
  font-weight: 100;
}

.services_main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.services_img {
  position: relative;
  background-image: url("../assets/1788.png");
  border-radius: 10rem 0;
  width: 50vw;
  height: 39vh;
  background-size: cover;
  background-position: top;
}
.services_img h3 {
  color: #483224;
  font-family: "Prata";
  font-weight: 100;
  font-size: 2rem;
}
.services_img .check_p {
  color: #A4554E;
  position: absolute;
  top: 39vh;
  left: 17vw;
  font-family: "Barlow";
  font-weight: 100;
}
.services_img .check_p img {
  margin-right: 0.5rem;
}

.services_img2 {
  position: absolute;
  background-image: url("../assets/pexels-engin-akyurt-3065209.png");
  z-index: 2;
  width: 20vw;
  height: 9rem;
  background-size: cover;
  border-radius: 3rem 0;
  background-position: bottom;
  left: 31.5rem;
  top: 26vh;
}

.services {
  margin-bottom: 4rem;
}

.services_img_txt {
  position: absolute;
  left: -7rem;
  top: 0.2rem;
}
.services_img_txt p {
  color: #483224;
  font-family: "Barlow";
  font-weight: 100;
  width: 16rem;
}

.spa_full_width {
  width: 100%;
  display: flex;
  height: 45vh;
  justify-content: flex-end;
}

.spa_srv {
  background-color: #803E38;
  width: 50%;
  position: absolute;
  z-index: 2;
  border-radius: 0 10rem 0 0;
  left: 0;
  height: 45vh;
}
.spa_srv .spa_txt_right {
  left: 16rem;
  position: absolute;
}
.spa_srv h3 {
  color: #FFFFFF;
  font-family: "Prata";
  font-weight: 100;
  font-size: 2rem;
}
.spa_srv p {
  color: #FFFFFF;
  font-family: "Barlow";
  font-weight: 100;
  width: 29vw;
}
.spa_srv button {
  background-color: #D1C1A5;
  color: #803E38;
}

.spa {
  background-image: url("../assets/13956.png");
  width: 70%;
  background-size: cover;
  background-position: right;
}

.bridal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;
}

.bridal_img {
  background-image: url("../assets/635676-POCVFD-599.png");
  width: 64vw;
  height: 44vh;
  border-radius: 0 10rem;
  background-size: cover;
  background-position: right;
  flex-direction: row-reverse;
  display: flex;
}

.bridal_txt {
  width: 30%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.45);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem;
}
.bridal_txt h2 {
  font-family: "Prata";
  font-weight: 100;
  color: #483224;
  font-size: 2rem;
  margin: 0;
}
.bridal_txt p {
  color: #803E38;
  font-family: "Barlow";
  font-weight: 100;
}

.salt {
  background-color: #D1C1A5;
  width: 100%;
  height: 50vh;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.salt .salt_content {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.salt .salt_content .salt_txt {
  width: 25vw;
  padding: 2rem;
}
.salt .salt_content .salt_txt h2 {
  font-family: "Prata";
  font-weight: 100;
  font-size: 2rem;
}
.salt .salt_content .salt_txt p {
  font-family: "Barlow";
  font-weight: 100;
}
.salt .salt_content .salt_img {
  background-image: url("../assets/3093620.png");
  height: 100%;
  width: 60%;
  border-radius: 0 10rem;
  background-size: cover;
}

.cezanne_txt_bf {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cezanne_txt_bf h2 {
  font-family: "Prata";
  color: #803E38;
  font-weight: 100;
  margin-bottom: 0;
  margin-top: 5rem;
}
.cezanne_txt_bf p {
  font-family: "Barlow";
  color: #483224;
  font-weight: 100;
}

.cezanne {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cezanne_content:hover {
  background-color: #D1C1A5;
}
.cezanne_content:hover h2 {
  color: #803E38;
}

.cezanne_content {
  border-radius: 0 6rem;
  background-color: #803E38;
  color: #FFFFFF;
  display: flex;
  height: 15rem;
  width: 55rem;
  justify-content: space-between;
}
.cezanne_content h2 {
  font-family: "Prata";
  font-weight: 100;
  font-size: 2rem;
}
.cezanne_content p {
  font-family: "Barlow";
  font-weight: 100;
}
.cezanne_content .cezanne_img {
  background-image: url("../assets/Cezanne-Stylign-Line.png");
  height: 100%;
  width: 29rem;
  border-radius: 0 6rem;
  background-size: cover;
}

.cezanne_txt {
  width: 34%;
  padding: 2rem;
}

.help {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem 0;
}
.help h1 {
  font-family: "Prata";
  font-size: 2rem;
  font-weight: 100;
  color: #483224;
}
.help button {
  font-size: 0.6rem;
  padding: 0.8rem 1.77rem;
  height: 3rem;
}

.news {
  background-color: #D1C1A5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news h2 {
  font-family: "Prata";
  color: #803E38;
  font-size: 2rem;
  font-weight: 100;
}
.news .news_three_divs {
  display: flex;
  width: 78%;
  gap: 1rem;
  /* margin: 0 auto; */
  justify-content: center;
}
.news .news_three_divs .news_content {
  background-color: #FFFFFF;
  border-radius: 6rem 0;
  width: 20%;
}
.news .news_three_divs .news_content .news_img {
  background-image: url("../assets/pexels-cottonbro-3737594.png");
  width: 100%;
  height: 20vh;
  background-size: cover;
  border-radius: 6rem 0 0 0;
}
.news .news_three_divs .news_content .news_img2 {
  background-image: url("../assets/17657126.png");
  width: 100%;
  height: 20vh;
  background-size: cover;
  border-radius: 6rem 0 0 0;
}
.news .news_three_divs .news_content .news_img3 {
  background-image: url("../assets/3118774.png");
  width: 100%;
  height: 20vh;
  background-size: cover;
  border-radius: 6rem 0 0 0;
}
.news .news_three_divs h3 {
  font-family: "Prata";
  color: #483224;
  font-size: 1.3rem;
  font-weight: 100;
  padding: 1rem;
}
.news .news_three_divs p {
  font-family: "Barlow";
  color: #483224;
  font-weight: 100;
  padding: 1rem;
}
.news .news_content:hover {
  background-color: #803E38;
}
.news .news_content:hover h3 {
  color: #FFFFFF;
}
.news .news_content:hover p {
  color: #FFFFFF;
}

html {
  font-size: 62, 5%;
  overflow-x: hidden;
}

body {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
