.beforefooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .footer_img {
    position: absolute;
    left: 69vw;
    top: 12vh;
  }
  .footer_img2 {
    position: absolute;
    left: 24vw;
    top: 15vh;
  }
  .footer_img3 {
    position: absolute;
    left: 82vw;
    top: 51vh;
  }
}

.suprice {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem 0;
  width: 84vw;
  h2 {
    color: $dark_red;
    font-family: "Prata";
    font-weight: 100;
  }
  button {
    font-size: 0.7rem;
    height: 3rem;
  }
}

.sadonalogo {
  background-image: url("../assets/image-asset1.png");
  height: 7vh;
  width: 7vw;
  background-size: cover;
}

.group_of_two {
  display: flex;
  align-items: flex-end;
  width: 77%;
  .first_group {
    h2 {
      color: $dark_red;
      font-family: "Prata";
      font-weight: 100;
      font-size: 2.5rem;
      width: 18rem;
    }
  }
  .second_group {
    display: flex;
    svg {
      fill: $dark_red !important;
      margin-right: 0.5rem;
    }
    ul {
      list-style: none;
      li {
        padding: 0.5rem;
        color: $brown;
        font-family: "Barlow";
        font-weight: normal;
      }
      .inline_social {
        svg {
          padding: 0.1rem;
          width: 2.3rem;
        }
        svg:hover {
          fill: $latte !important;
        }
      }
    }
    .second_part {
      width: 23vw;
      .bolder_part {
        color: $dark_red;
        font-weight: bold;
      }
    }
  }
}

.bottom_group {
  display: flex;
  justify-content: space-around;
  width: 65vw;
  margin: 2rem 0;
  h4 {
    color: $latte;
    font-family: "Prata";
    font-weight: 100;
  }
  ul {
    // margin-top: -1rem;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    font-size: 1rem;
    li {
      a {
        color: $brown;
        cursor: pointer;
        padding: 0.5rem;

        font-family: "Barlow";
      }
      a:hover {
        color: $dark_red;
        border-bottom: 1px solid $dark_red;
        font-weight: normal;
      }
    }
  }
}
