.bridal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;
  position: relative;
  .bridal_flower{ position: absolute;
    left: 74vw;
    top: -5vh;}
  .bridal_leaf{ position: absolute;
    left: 73vw;
    width: 6rem;
    top: 35vh;}
}

.bridal_img {
  background-image: url("../assets/635676-POCVFD-599.png");
  width: 64vw;
  height: 55vh;
  border-radius: 0 10rem;
  background-size: cover;
  background-position: right;
  flex-direction: row-reverse;
  display: flex;
}

.bridal_txt {
  width: 30%;
  height: 100%;
  background-color: ($white_opacity);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem;
  padding-top: 0;
  // opacity: 45%;
  h4 {
    font-family: "Cookie";
    color: $dark_red;
    font-size: 1.5rem;
    font-weight: 100;
    display: flex;
    align-items: center;
    svg{fill:$dark_red;}
  }
  h2 {
    font-family: "Prata";
    font-weight: 100;
    color: $brown;
    font-size: 2rem;
    margin: 0;
  }
  p {
    color: $dark_red;
    font-family: "Barlow";
    font-weight: 100;
  }
}


.ch-b{
  color: $dark_red;
  svg{fill:$dark_red;}
}