
.extension{
  margin: 0 !important;
 p{color: $dark_red !important;font-family: 'Barlow' !important;font-weight: normal !important;}
  svg{fill:$dark_red  ;}
}
.news {
  background-color: $latte;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .news_flower{
    position: absolute;
    width: 4rem;
    left: 31vw;
  }
  h2 {
    font-family: "Prata";
    color: $dark_red;
    font-size: 2rem;
    font-weight: 100;
  }

  .news_three_divs {
    display: flex;
    width: 78%;
    gap: 1rem;
    /* margin: 0 auto; */
    justify-content: center;
    margin-bottom: 3rem;

    .news_content {
      background-color: $white;
      border-radius: 6rem 0;
      width: 20%;
      h5{display: flex;
        align-items: center;padding: 1rem;
        color: $dark_red;padding-bottom: 0;
        font-weight: normal;
        font-family: 'Barlow';margin: 0;
        svg{stroke-width: 2;
          stroke: $dark_red;
          height: 1rem;margin-top: 0.5rem;}
      }
      h4 {
          font-family: "Cookie";
          color: $dark_red;
          font-size: 1.5rem;
          font-weight: 100;
          display: flex;
          align-items: center;margin:0;padding: 1rem;
          svg{fill:$dark_red;}
        }
      .news_img {
        
        background-image: url("../assets/pexels-cottonbro-3737594.png");
        width: 100%;
        height: 20vh;
        background-size: cover;
        border-radius:  6rem 0 0 0;
      }

      .news_img2 {
        background-image: url("../assets/17657126.png");
        width: 100%;
        height: 20vh;
        background-size: cover;
        border-radius:  6rem 0 0 0;
      }

      .news_img3 {
        background-image: url("../assets/3118774.png");
        width: 100%;
        height: 20vh;
        background-size: cover;
        border-radius:  6rem 0 0 0;
      }
    }
    h3 {
      font-family: "Prata";
      color: $brown;
      font-size: 1.3rem;
      font-weight: 100;
      padding: 1rem;
      padding-top: 0;
      padding-bottom: 0;
      margin:0;
      height: 7vh;
    
    }
    p {
      font-family: "Barlow";
      color: $brown;
      font-weight: 100;
      padding: 1rem;
    }
  }.news_content:hover{
    background-color: $dark_red;
    h3{color: $white;}
    p{color: $white;svg{fill:$latte !important;}}
    h4{color: $latte;
      svg{fill:$latte !important;}
    }
    h5{color: $latte;
    svg {stroke: $latte ;}}
    
}
}




