.news {
  background-color: $latte;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-family: "Prata";
    color: $dark_red;
    font-size: 2rem;
    font-weight: 100;
  }

  .news_three_divs {
    display: flex;
    width: 78%;
    gap: 1rem;
    /* margin: 0 auto; */
    justify-content: center;
    margin-bottom: 3rem;

    .news_content {
      background-color: $white;
      border-radius: 6rem 0;
      width: 20%;
      .news_img {
        background-image: url("../assets/pexels-cottonbro-3737594.png");
        width: 100%;
        height: 20vh;
        background-size: cover;
        border-radius:  6rem 0 0 0;
      }

      .news_img2 {
        background-image: url("../assets/17657126.png");
        width: 100%;
        height: 20vh;
        background-size: cover;
        border-radius:  6rem 0 0 0;
      }

      .news_img3 {
        background-image: url("../assets/3118774.png");
        width: 100%;
        height: 20vh;
        background-size: cover;
        border-radius:  6rem 0 0 0;
      }
    }
    h3 {
      font-family: "Prata";
      color: $brown;
      font-size: 1.3rem;
      font-weight: 100;
      padding: 1rem;
    }
    p {
      font-family: "Barlow";
      color: $brown;
      font-weight: 100;
      padding: 1rem;
    }
  }.news_content:hover{
    background-color: $dark_red;
    h3{color: $white;}
    p{color: $white;}
}
}


