.salt {
  background-color: $latte;
  width: 100%;
  height: 50vh;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .salt_flower {
    position: absolute;
    left: 35vw;
    top: 5vh;
    width: 6rem;
  }
  .salt_leaf {
    position: absolute;
    left: 39vw;
    width: 6rem;
    top: 35vh;
  }
  .salt_content {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    .salt_txt {
      width: 25vw;
      padding: 2rem;
      h4 {
        font-family: "Cookie";
        color: $dark_red;
        font-size: 1.5rem;
        font-weight: 100;
        display: flex;
        align-items: center;
        svg {
          fill: $dark_red;
        }
      }
      h2 {
        font-family: "Prata";
        font-weight: 100;
        font-size: 3rem;
      }
      p {
        font-family: "Barlow";
        font-weight: 100;
      }
    }
    .salt_img {
      background-image: url("../assets/3093620.png");
      height: 100%;
      width: 60%;
      border-radius: 0 10rem;
      background-size: cover;
    }
  }
}
