.services_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    color: $dark_red;
    font-weight: 100;
    font-family: "Prata";
    width: 52vw;
    text-align: center;
    margin-bottom: 0;
  }
  p {
    color: $brown;
    font-family: "Barlow";
    font-weight: 100;
  }
}
.services_main{
    display:flex;align-items: center;
    flex-direction: column;
margin-top: 2rem;
margin-bottom: 4rem;}
.services_img{
    position: relative;
    background-image: url("../assets/1788.png");
    border-radius: 10rem 0 ;
    width: 50vw;
    height: 39vh;
    background-size: cover;
    background-position: top;
    h3{
        color: $brown;
        font-family: 'Prata';
        font-weight: 100;
        font-size: 2rem;
    }
    .check_p{color: $red;position: absolute;
        top: 39vh;
    left: 17vw;
font-family: 'Barlow';
font-weight: 100;
img{margin-right: 0.5rem;}}
    
}

.services_img2{
    position: absolute;
    background-image: url("../assets/pexels-engin-akyurt-3065209.png");
    z-index: 2;
    width: 20vw;
    height: 9rem;
    
    background-size: cover;
    border-radius: 3rem 0;
    background-position: bottom;
    left: 31.5rem;
    top: 26vh;
}

.services{
    margin-bottom: 4rem;
}

.services_img_txt{
    position: absolute;
    left: -7rem;
    top: 0.2rem;
    p{color: $brown;
        font-family: 'Barlow';
        font-weight: 100;
        width: 16rem;}
}
.spa_full_width{ width: 100%;display: flex;
    height: 45vh;
    justify-content: flex-end;}
.spa_srv{background-color: $dark_red;width: 50%;
    position: absolute;
    z-index: 2;
    border-radius: 0 10rem 0 0;
    left: 0;
    height: 45vh;
    .spa_txt_right{    left: 16rem;
        position: absolute;}
h3{color: $white;
font-family:'Prata' ;
font-weight: 100;
font-size: 2rem;}
p{color: $white;
    font-family:'Barlow' ;
    font-weight: 100;width: 29vw;}
    button{background-color: $latte;
    color:$dark_red;}
}
.spa{
    background-image: url("../assets/13956.png");
    width: 70%;
   
    background-size: cover;
    background-position: right;
}